/*configurações padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====== variaveis =======*/
:root {
  /*colors*/
  --color-title: hsla(0, 0%, 0%, 1);
  --color-text: hsla(0, 0%, 46%, 1);
  --color-efect-image: hsla(var(--color-site), 65%, 88%, 1);
  --body-color: hsla(0, 0%, 98%, 1);
  --default1: hsla(var(--color-site), 36%, 57%, 1);
  --hover-button: hsl(var(--color-site), 55%, 68%);
  --color-site: 149;
  --header-height: 4.5rem;
  --font-size-title: 1.875rem;
  --font-size-subtitle: 1rem;
}

/*======== base =========*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: var(--color-text);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--font-size-title) "Poppins", sans-serif;
  color: var(--color-title);
  -webkit-font-smoothing: auto;
}

p.subtitle {
  font-size: var(--font-size-subtitle);
  color: var(--color-title);
}

.button {
  background-color: var(--default1);
  color: var(--body-color);
  font: 500 1rem "DM Sans", sans-serif;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  transition: 0.4s;
}

.button:hover {
  background-color: var(--hover-button);
}

a {
  text-decoration: none;
}

.divider1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--color-site), 36%, 57%, 0.34) 0%,
    hsla(var(--color-site), 65%, 88%, 0.25)
  );
}

.divider2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--color-site), 65%, 88%, 0.25),
    hsla(var(--color-site), 36%, 57%, 0.34)
  );
}

/*====== cabeçalho ========*/
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  display: flex;
}

#header.scroll {
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.089);
}

/*======== logotipo =======*/
.logo {
  font: 700 1.312rem "Poppins", sans-serif;
  color: var(--color-title);
}

.logo span {
  color: var(--default1);
}

.logo.alt span {
  color: var(--body-color);
}

/*====== menu de navegação ======*/
nav {
  align-items: center;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

/*===== Efeito de passar o mouse ======*/
nav ul li a {
  transition: color 0.2s;
  position: relative;
}
nav ul li a:hover {
  color: var(--default1);
}

/*===== Efeito de passar o mouse e criar linha abaixo do menu =====*/
nav ul li a::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background-color: var(--default1);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/*===== ocultar menu =======*/
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.4s;
}

nav .menu ul {
  display: none;
}

/*==== mostrar o menu =====*/
nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

/*Touggle menu*/
.toggle {
  color: var(--default1);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  transition: 0.2s;
  top: -1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

ul {
  list-style: none;
}

nav ul.grid {
  gap: 3rem;
}

/*======= seções e container =========*/
.section {
  padding: calc(5rem + var(--header-height)) 0 4rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--default1);
}

.section .title {
  margin-bottom: 1rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

/*==== seção home =====*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

/*====== LAYOUT ========*/
#home .image img {
  position: relative;
  right: 2.937rem;
}

#home .image {
  position: relative;
}

/*cria o elemento atrás da imagem de cor verde*/
#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color-efect-image);
  position: absolute;
  z-index: 0;
  left: 16.6%;
  top: -16.8%;
}

#home .image,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*==== seção sobre =====*/
#about {
  background-color: white;
}

#about {
  overflow: hidden;
}

#about .container {
  margin: 0;
}

#about .image img {
  position: relative;
}

#about .image {
  position: relative;
}

/*cria o elemento atrás da imagem de cor verde*/
#about .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color-efect-image);
  position: absolute;
  z-index: 0;
  left: -33%;
  top: -8.3%;
}

#about .image,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .text h1 {
  margin-bottom: 1rem;
}

#about .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*====== seção de serviços ======*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--default1);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--default1);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*======= seção de testemunhos ======*/
#testimonials {
  background-color: white;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--color-title);
}

#testimonials blockquote p span {
  font: 700 2rem serif;
  position: absolute;
  left: -1.5rem;
  top: -0.4rem;
  color: var(--default1);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

#testimonials header {
  margin-bottom: 0;
}

/*====== seção de contato ========*/
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.3rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--default1);
}

/*====== seção rodapé =====*/
#footer.section {
  background-color: var(--default1);
  padding: 3rem 0;
}

#footer .logo.alt {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

#footer .brand p {
  color: var(--body-color);
  margin-bottom: 0.75rem;
}

#footer .social i {
  color: var(--body-color);
  font-size: 1.3rem;
}

#footer .social a {
  margin-right: 2rem;
  transition: 0.4s;
  display: inline-block;
}

#footer .social a:hover {
  transform: translateY(-7px);
}

/*====== botão para rola a página ao topo ========*/
.back-to-top {
  background-color: var(--default1);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  color: var(--body-color);
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
